<script>
//inner_content_templates/components/summary_panel/index.js
</script>
<div class="panel is-info">
    <div class="panel-heading level">
        <div class="container level">
            <p class="level-left">Summary</p>
            <p class="level-right">Loading...</p>
            <progress class="progress is-medium level-right" style="max-width: 10em;" max="100"></progress>
        </div>
    </div>
    <div class="panel-block">
        <p>
            Summary here
        </p>
    </div>
</div>