<script>
//inner_content_templates/components/navbar/index.js
</script>

<nav class = "navbar">
  <div class="navbar-brand navbar-start has-text-weight-bold is-size-5">
    <a class="navbar-item" href="">
      real-time-obj
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  
  <div class="navbar-menu is-link" id="navMenu">
      <div class="navbar-brand has-text-weight-bold is-size-5">
        <a class="navbar-item" href="">
          Docs
        </a>
      </div>
      <div class="navbar-brand has-text-weight-bold is-size-5">
        <a class="navbar-item" href="">
          Tutorials
        </a>
      </div>
      <div class="navbar-brand has-text-weight-bold is-size-5">
        <a class="navbar-item" href="">
          News
        </a>
      </div>
  </div>
</div>
